[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pycodestyle = "*"
jupyterlab = "*"
autopep8 = "*"
pyinstaller = "*"

[packages]
pandas = "*"
matplotlib = "*"
sqlalchemy = "*"
mysql-connector = "*"

[requires]
python_version = "3.7"
